.bd-sidebar-secondary {
    background-color: transparent;
}

a.sd-btn {
    border: none;
}

a.sd-btn {
    color: var(--sst-lightest-color);
    background-image: linear-gradient(var(--sst-accent-color-muted), var(--sst-accent-color-bright));
}

a.sd-btn:hover,
a.sd-btn:visited:hover {
    color: var(--sst-dark-color);
    background: rgba(255, 255, 255, 0.3);
    background-blend-mode: lighten;
    background-image: linear-gradient(var(--sst-accent-color-muted), var(--sst-accent-color-bright));
    text-decoration: none;
}
